# HTTP test files
*.http

# Environment files
.env
.env.local
.env.production
.env.staging

# IDE
.idea
.vscode

# Air live reload
# .air.toml
tmp/

# Debug binaries
*/__debug_bin*
__debug_bin*

# Uploads
public/products/*
public/profile/*
cmd/public/products/*
cmd/public/profile/*

# Keep directory structure
!public/products/.gitkeep
!public/profile/.gitkeep
!cmd/public/products/.gitkeep
!cmd/public/profile/.gitkeep